.introduction {
    width: 100%;
    height: 100%;
    background-color: black;

    &__banner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 70%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 20%;
        background-position-x: center;
        position: relative;
    }

    &__title {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 4rem;
        color: white;
    }

    &__waterMark {
        position: absolute;
        left: 10px;
        top: 5px;
        font-family: "Poppins", sans-serif;
        font-size: 3rem;
        color: rgba($color: #000000, $alpha: 0);
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: white;
    }

    &__subBanner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 4rem;
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
            color: black;
        }
    }

    &__buttonsContainer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}
