.listContainer {
    display: flex;
    flex-direction: column;

    &__title {
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }

    &__listColums {
        display: flex;
    }
}