@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "reset";
@import "introduction";
@import "recommendation";
@import "listContainer";
@import "listSection";
@import "resultList";
@import "input";
@import "select";
@import "checkbox";
@import "button";
@import "coincidence";

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}
